* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(5, 48, 89);
    color: mediumvioletred;
    


}

.Blu {
    color: lightskyblue;
 

}
li{
    display: inline-block;
    text-orientation: sideways-right;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}

a{
    text-decoration: none;
    color: mediumvioletred;
}
    
.hero{
    height: 200px; ;
    width: 100%; ;
    margin-top:0 ;
    background-image: url(https://wallpapercave.com/wp/wp8138865.png);
    background-position: center;
    background-size: cover; 

}
body{
    background-color: steelblue;
}

.container{
    position: relative;
    text-align: right;
    color:lightblue;

}

.bottomleft{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.topright{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    
    
}

#aboutme{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: mediumvioletred;
    text-decoration: underline;
    margin-top: 60px;
    text-align: center;
}
p{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: mediumvioletred;
   font-weight: bold;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}
article{
    background-color: skyblue;
    width: 55%;
    margin-left: 20px;

}
.profile-image{
    height: ;
    width: 250px;
    background-size: cover;
    float: right;
    margin-top: 40px;
    margin-right: 120px;
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;

}
.profile-image:hover{
   filter: grayscale(0%);
   filter:gray;
   -webkit-filter: grayscale(0%);
   filter: none;
   transition: 1s ease;


}
    
}
